<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["tile"] ProjetoAluno2021- </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Estilo.css"/>
     <link rel="stylesheet" href="~/css/gallery.css"/>
</head>
<body>
     
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Colégio Integrado Xv de novembro</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Aluno" asp-action="Cadastro">Cadastro</a>
                        </li>

                       <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Aluno" asp-action="Lista">Listagem</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="Container.Imagem">
        <main role="main" class="pb-3">
            <img src="~/Imagem/estudando.jpg"/>
            
            @RenderBody()
        </main>
    </div>
       
      
        

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Colégio integrado XV novembro - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
          <div class="gallery">
      <div class="gallery__prev"></div>
      <div class="gallery__next"></div>
      <div class="gallery__stream">
      <div class="gallery__item bg-1"></div>
     <div class="gallery__item bg-2"></div>
     <div class="gallery__item bg-3"></div>
     <div class="gallery__item bg-4"></div>
     <div class="gallery__item bg-5"></div>
     <div class="gallery__item bg-6"></div>
     <div class="gallery__item bg-7"></div>
      </div>
      </div>
    </footer>
     
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/gallery.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
