@model Aluno
@{
     ViewData["Title"] = "Editar";

}
  <form method="POST" asp-action="Editar">

       <input type="hidden" asp-for="id">

 <p>
      <label asp-for="Nome">Nome:</label> 
      <input asp-for="Nome" required>
 </p>

  <p>
      <label asp-for="Login">Login:</label> 
      <input asp-for="Login">
 </p>
 
   <p>
      <label asp-for="Cpf">Cpf:</label> 
      <input asp-for="Cpf">
 </p>

  <p>
      <label asp-for="Senha">Senha:</label> 
      <input asp-for="Senha">
     </p>


     <p>
      <label asp-for="DataNascimento">Data de Nascimento:</label> 
      <input asp-for="DataNascimento" type="date">
 
     </p>
      <p>
        <input type="submit" value="Editar">  
      </p> 
    
     </form>
      
      <p>
         @ViewBag.Mensagem  
      </p>