@{
    ViewData["Title"] = "Home Page";
}
 <link rel="stylesheet" type="text/css" href="css/site.css">
<div class="text-center">
    <h1 class="display-4">Escola Xv setembro</h1>
    <p>Learn about: <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
